<p-toast position="center"></p-toast>

<div class="container-fluid mt-4 text-right">
  <div class="row pnl-content">
    <form [formGroup]="form" (ngSubmit)="submitForm()" class="w-100">
      <div class="row">
        <div class="col-lg-6 col-sm-12 mb-3">
          <label class="panel-form-label">نام کاربری</label>
          <input
            name="username"
            type="text"
            pInputText
            formControlName="username"
          />

          <ul
            class="mt-1 text-right list-inline"
            *ngFor="let error of errorMessages.username"
          >
            <li
              class="font-small text-danger font-weight-bold list-inline-item"
              *ngIf="
                form.get('username').hasError(error.type) &&
                (form.get('username').dirty || form.get('username').touched)
              "
            >
              {{ error.message }}
            </li>
          </ul>
        </div>
        <div class="col-lg-6 col-sm-12 mb-3">
          <label class="panel-form-label">رمز عبور</label>
          <input
            name="password"
            type="text"
            pInputText
            type="password"
            formControlName="password"
          />

          <ul
            class="mt-1 text-right list-inline"
            *ngFor="let error of errorMessages.password"
          >
            <li
              class="font-small text-danger font-weight-bold list-inline-item"
              *ngIf="
                form.get('password').hasError(error.type) &&
                (form.get('password').dirty || form.get('password').touched)
              "
            >
              {{ error.message }}
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 mb-3">
          <label class="panel-form-label">نام </label>
          <input
            name="firstName"
            type="text"
            pInputText
            formControlName="firstName"
          />

          <ul
            class="mt-1 text-right list-inline"
            *ngFor="let error of errorMessages.firstName"
          >
            <li
              class="font-small text-danger font-weight-bold list-inline-item"
              *ngIf="
                form.get('firstName').hasError(error.type) &&
                (form.get('firstName').dirty || form.get('firstName').touched)
              "
            >
              {{ error.message }}
            </li>
          </ul>
        </div>
        <div class="col-lg-6 mb-3">
          <label class="panel-form-label">نام خانوادگی</label>
          <input
            name="lastName"
            type="text"
            pInputText
            formControlName="lastName"
          />

          <ul
            class="mt-1 text-right list-inline"
            *ngFor="let error of errorMessages.lastName"
          >
            <li
              class="font-small text-danger font-weight-bold list-inline-item"
              *ngIf="
                form.get('lastName').hasError(error.type) &&
                (form.get('lastName').dirty || form.get('lastName').touched)
              "
            >
              {{ error.message }}
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col d-flex flex-row-reverse">
          <button
            type="submit"
            pButton
            label="ثبت"
            [disabled]="form.invalid"
            class="panel-dark-button mt-3"
          ></button>
        </div>
      </div>
    </form>
  </div>
</div>
