.card {
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%) !important;
  display: flex;
  flex-direction: column;
  padding: 50px 80px;
}

@media screen and (max-width: 600px) {
  .card {
    margin: 0 10px;
    padding: 30px;

  }
}

ul li {
  font-size: 12px;
}

h1 {
  font-size: 16px;
  margin-top: 10px;
}

:host::ng-deep .p-password,
:host::ng-deep .p-password input {
  width: 100%;
}

:host::ng-deep .p-password-panel .p-password-info {
  width: 100% !important;
  text-align: right !important;
  font-family: IRANSans_Light !important;
}

.terms-text,
.terms-text a {
  font-size: 12px;
}

.login-link {
  font-size: 13px;
}

@media screen and (max-width: 767px) {
  :host::ng-deep .p-toast {
    width: 90% !important;
  }
}

:host::ng-deep .p-toast .p-toast-message .p-toast-message-content .p-toast-summary {
  font-size: 16px;
  font-family: IRANSans_Light !important;
  margin-right: 5px;
}

:host::ng-deep .p-toast .p-toast-message .p-toast-message-content .p-toast-detail {
  font-size: 16px;
  font-family: IRANSans_Light !important;
}

:host::ng-deep .p-toast .p-toast-message.p-toast-message-error .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-error .p-toast-icon-close {
  margin-left: 5px;
}